<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>conf.editor</string>
	<key>connections</key>
	<dict>
		<key>1D1725BF-CF6C-4A9A-8EBC-3DBCFD52AB3A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>35843620-391B-4B1C-93E5-3894309FA3C7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>7DE0F7DA-EB42-4491-815C-47665B53275E</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Reveal in finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Filosfino</string>
	<key>description</key>
	<string>Conf Editor</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Conf Editor</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)

set finderSelection to ""
set theTarget to ""
set appPath to path to application "Sublime Text"
set defaultTarget to (path to home folder as alias)
-- comment line above and uncomment line below to open desktop instead of user home when there's no selection or open folder in the Finder:
-- set defaultTarget to (path to desktop folder as alias)

if (q as string) is "" then
    tell application "Finder"
        set finderSelection to (get selection)
        if length of finderSelection is greater than 0 then
            set theTarget to finderSelection
        else
            try
                set theTarget to (folder of the front window as alias)
            on error
                set theTarget to defaultTarget
            end try
        end if

        tell application "Finder"
            open theTarget using appPath
        end tell

    end tell
else
    try
        set targets to {}
        set oldDelimiters to text item delimiters
        set text item delimiters to tab
        set qArray to every text item of q
        set text item delimiters to oldDelimiters
        repeat with atarget in qArray

            if atarget starts with "~" then
                set userHome to POSIX path of (path to home folder)
                if userHome ends with "/" then
                    set userHome to characters 1 thru -2 of userHome as string
                end if

                try
                    set atarget to userHome &amp; characters 2 thru -1 of atarget as string
                on error
                    set atarget to userHome
                end try

            end if

            set targetAlias to ((POSIX file atarget) as alias)
            set targets to targets &amp; targetAlias
        end repeat

        set theTarget to targets

        tell application "Finder"
            open theTarget using appPath
        end tell

    on error
        return (atarget as string) &amp; " is not a valid file or folder path."
    end try
end if


end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>35843620-391B-4B1C-93E5-3894309FA3C7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>ce</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>processing ....</string>
				<key>script</key>
				<string>python conf_editor.py {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Find &amp; edit configuration files quickly</string>
				<key>title</key>
				<string>Conf-editor</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>1D1725BF-CF6C-4A9A-8EBC-3DBCFD52AB3A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>7DE0F7DA-EB42-4491-815C-47665B53275E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1D1725BF-CF6C-4A9A-8EBC-3DBCFD52AB3A</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>35843620-391B-4B1C-93E5-3894309FA3C7</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>7DE0F7DA-EB42-4491-815C-47665B53275E</key>
		<dict>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/filosfino/conf-editor</string>
</dict>
</plist>
